<%=simple_form_for(@article, html: { class: 'form-horizontal'},
                   wrapper: :horizontal_form,
                   wrapper_mappings: {
                           check_boxes: :horizontal_radio_and_checkboxes,
                           radio_buttons: :horizontal_radio_and_checkboxes,
                           file: :horizontal_file_input,
                           boolean: :horizontal_boolean
                   }) do |f| %>
    <% if @article.errors.any? %>
        <div id="error_explanation">
          <h4><%= pluralize(@article.errors.count, "fout") %> waardoor artikel niet kunnen opslaan:</h4>
        </div>
    <% end %>
    <%= f.input :title, label: 'Titel' %>
    <%= f.input :link, label: 'Link' %>
    <%= f.button :submit, 'Toevoegen' %>
<% end %>