<!DOCTYPE html>
<html>
<head>
  <title>Amsterapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', "data-turbolinks-track" => true %>
  <%= javascript_include_tag 'application', "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<!-- Bootstrap nav bar -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">

			<div class="navbar-header">
				<a class="navbar-brand" href="<%= root_url %>">Lucky Ajax</a>
			</div>
			
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<!--<li class="active">
						<a href="#">Feed <span class="sr-only">(current)</span>
						</a>
					</li>-->
				</ul>

				<ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                         aria-expanded="false">Artikel<span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><%= link_to 'Nieuw', new_article_path %></li>
                        <li><%= link_to 'Overzicht', articles_path %></li>
                      </ul>
                    </li>
					<li>
						<a href="#">Over</a>
					</li>
				</ul>

			</div>
		</div>
	</nav>
    <div class="row">
    <div class="col-md-12">
        <%= yield %>
    </div>
    </div>

</div>

</body>
</html>
